  <div class ="main-visual">
    <div class ="main-visual-text">
      <div class="main-visual-centence">
        <div class="main-centense">
          STARは、スキルと時間の売買ができるサイトです。<br>
          会員でない方も閲覧はできますが、購入には会員登録が必要です。
        </div>
      </div>
    </div>
  </div>