/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5EAEB;
  height: 100%;
  color: #31343B;
}

header {
	height: 90px;
  background-color: #E5EAEB;
  background-size: auto;
  border-bottom: 7px dotted #EBD601;
}

.nav-list{
  text-align: center;
  color: #31343B;
}

.nav-item {
  display: inline-block;
  margin: auto 20px;
  color: #035AA6;
}

.header-name {
  font-size: 35px;
  font-family: 'Kalam', cursive;
  color: #035AA6;
  padding: 0 0 0 3px;
}

a {
  color: #31343B;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.notice {
  margin-top: 2px;
  color: #1dc1d6;
}

.alert {
  margin-top: 2px;
  color: #ffd900;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #31343B;
  color: #fff;
  position: absolute;
  bottom: 0px;
}

.footer-text {
  padding-top: 30px;
  text-align: center;
}