<div class= "container-fluid">

  <div class= "row">
    <h3 class= "col-md-4 offset-md-4 text-center">アイテム編集
    </h3>
  </div>

  <%= render "sellers/products/item_form", product: @product %>

</div>