// Place all the styles related to the users::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
	width: 100%;
	height: 500px;
	background-image: image-url('luis-alfonso-orellana-WjIB-6UxA5Q-unsplash.jpg');
	background-size: cover;
	align-items: center;
}
.main-visual-text {
	height:  100%;
	width: 100%;
	background-color:rgba(0,0,0,0.3);
	background-size: cover;
}

.main-centense {
	color: white;
	padding-top: 20px;
	text-align: center;
}
